---
layout: newhome
author_profile: false
sidebar: True
---


<header>
	<div class="container">
		<div>
			<p class="editable">Hello, World!, </p>
			<h1 class="editable">Taem Choi :<small>AI system developer</small><br> </h1>
			<p class="editable"> <b><br>AI 모델 및 모델이 운영되는 시스템을 개발하고 있습니다.<br> 주력 분야는 NLP, Forecast입니다. </b></p>
			<h3 class="editable" style="text-align:left;"> <br><i class="fas fa-bookmark"></i> Skill :  Python, Java, MongoDB, MySQL, PostgreSQL, Pytorch, Tensorflow </h3>
		</div>
		<div class="column">
			<div class ="container">
				<div class= "columns">
					<img src="{{ site.baseurl }}/assets/images/img1.png" alt="banner image">
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<h2 class="editable" style="text-align:center;">✍🏼 Recent<br> </h2>
		<div class="posts">
			{% for post in paginator.posts limit:4 %}
				{% include recent-posts.html type="grid" %}
			{% endfor %}
		</div>
	<p class="editable">
		<b> If you want to know more about detail,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Click <a href="https://github.com/taemchoi/">Github</a>
		<a href="https://github.com/taemchoi/">{% include icon.html icon="github" %}</a> &nbsp;&nbsp;&nbsp;&nbsp; or&nbsp;&nbsp;&nbsp;&nbsp; Click <a href="https://github.com/taemchoi/">Email</a>
		<a href="mailto:never7653@gmail.com">{% include icon.html icon="email" %}</a></b>
	</p>
</div>
<div class="container">

</div>